.clear {
  clear: both;
}

.hiddend {
  display:none;
}

#ajaxsearchlite textarea:focus, 
#ajaxsearchlite input:focus{
    outline: none;
}

#ajaxsearchlite {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background: #d1eaff;
  background: #b4e0f4;
  overflow: hidden;
  border:1px dashed #000000;border-radius:5px 5px 5px 5px;  box-shadow:0px 8px 10px -7px #949494 ;}

#ajaxsearchlite .probox {
  width: auto;
  margin: 4px;
  height: 30px;
  border-radius: 5px;
  background: #FFF;
  overflow: hidden;
  border: 1px solid #FFF;
  box-shadow: 1px 0 3px #CCCCCC inset;
  background: #ffffff;
  border:1px dashed #b4e0f4;border-radius:0px 0px 0px 0px;  box-shadow:1px 0px 3px 1px #bcd6e1 inset;}

#ajaxsearchlite .probox .proinput {
  width: auto;
  height: 100%;
  margin: 2px 0px 0px 10px;
  padding: 5px;
  float: left;
  box-shadow: none;
  font-weight:normal;font-family:\'Arial\', Helvetica, sans-serif;color:#212121;font-size:12px;line-height:13px;}

#ajaxsearchlite .probox .proinput input {
  border: 0px;
  background: transparent;
  width: 100%;
  box-shadow: none;
  margin: 0;
  padding: 0;
  font-weight:normal;font-family:\'Arial\', Helvetica, sans-serif;color:#212121;font-size:12px;line-height:13px;}

#ajaxsearchlite .probox .proinput.iepaddingfix {
  padding-top: 0;
}

#ajaxsearchlite .probox .proinput .loading {
  width: 32px;
  background: #000;
  height: 100%;
  box-shadow: none;
}

#ajaxsearchlite .probox .proloading,
#ajaxsearchlite .probox .promagnifier,
#ajaxsearchlite .probox .prosettings  {
  width: 32px;
  height: 32px;
  background: none;
  float: right;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

#ajaxsearchlite .probox .proloading {
  background: url("http://wp-dreams.com/demo/wp-ajaxsearchpro/wp-content/plugins/ajax-search-pro/img/loading/loading4.gif") no-repeat;
  background-position:center center;
  visibility: hidden; 
}

#ajaxsearchlite .probox .promagnifier {
  background: url("http://wp-dreams.com/demo/wp-ajaxsearchpro/wp-content/plugins/ajax-search-pro/img/magnifiers/magn7.png") no-repeat #b4e0f4;
  background-position:center center;
  cursor: pointer;
}


#ajaxsearchlite .probox .prosettings {
  background: url("http://wp-dreams.com/demo/wp-ajaxsearchpro/wp-content/plugins/ajax-search-pro/img/settings/settings5.png") no-repeat #b4e0f4;
  background-position:center center;
  cursor: pointer;
}

#ajaxsearchliteres {
  padding: 4px;
  background: #D1EAFF;
  background: #b4e0f4;
  border-radius: 3px;
  border:1px dashed #000000;border-radius:3px 3px 3px 3px;  box-shadow:0px 8px 10px -7px #949494 ;  position: absolute;
  visibility: hidden;
  z-index:1100;
}

#ajaxsearchliteres .results .nores {
  overflow: hidden;
  width: auto;
  height: 100%;
  line-height: auto;
  text-align: center;
  margin: 0;
  background: #FFF;
}

#ajaxsearchliteres .results .nores .keyword{
  padding: 0 6px;
  cursor: pointer;
  font-weight:normal;font-family:\'Arial\', Helvetica, sans-serif;color:#4a4a4a;font-size:13px;line-height:14px;  font-weight: bold;
}

#ajaxsearchliteres .results {
  overflow: hidden;
  width: auto;
  height: 0;
  margin: 0;
  padding: 0;
}

#ajaxsearchliteres .results .item {
  overflow: hidden;
  width: auto;
  height: 70px;
  margin: 0;
  margin-bottom: -3px;
  padding: 3px;
  position: relative;
  background: #f4f4f4;
  background: #ffffff;
  border-radius: 3px;
}

#ajaxsearchliteres .results .item:last-child  {
  margin-bottom: 0px;
}


#ajaxsearchliteres .results .item .image {
  overflow: hidden;
  width: 70px;
  height: 70px;
  background: #000;
  background: #ffffff;
  margin: 0;
  padding: 0;
  float: left;
}

#ajaxsearchliteres .results .item .content {
  overflow: hidden;
  width: 50%;
  height: 70px;
  background: #fff;
  background: #ffffff;
  margin: 0;
  padding: 0 10px;
  float: right;
}

#ajaxsearchliteres .results .item .content h3 {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-weight:bold;font-family:\'Arial\', Helvetica, sans-serif;color:#1454a9;font-size:14px;line-height:15px;}

#ajaxsearchliteres .results .item .content h3 a span.overlap {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
  background-image: url('empty.gif');
}

#ajaxsearchliteres .results .item .content h3 a {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-weight:bold;font-family:\'Arial\', Helvetica, sans-serif;color:#1454a9;font-size:14px;line-height:15px;}

#ajaxsearchliteres .results .item .content h3 a:hover {
  font-weight:bold;font-family:\'Arial\', Helvetica, sans-serif;color:#1454a9;font-size:14px;line-height:15px;}

#ajaxsearchliteres .results .item div.etc {
  margin: 2px 3px;
  padding: 0;
  line-height: 10px;
  font-weight:bold;font-family:\'Arial\', Helvetica, sans-serif;color:#a1a1a1;font-size:12px;line-height:13px;}
#ajaxsearchliteres .results .item .etc .author {
  padding: 0;
  font-weight:bold;font-family:\'Arial\', Helvetica, sans-serif;color:#a1a1a1;font-size:12px;line-height:13px;}
#ajaxsearchliteres .results .item .etc .date {
  margin: 0 0 0 10px;
  padding: 0;
  font-weight:normal;font-family:\'Arial\', Helvetica, sans-serif;color:#adadad;font-size:12px;line-height:13px;  
}
#ajaxsearchliteres .resdrg {                                                                                                                                     
  height: auto;
}

#ajaxsearchliteres .results .item p.desc {
  margin: 2px 0px;
  padding: 0;
  font-weight:normal;font-family:\'Arial\', Helvetica, sans-serif;color:#4a4a4a;font-size:13px;line-height:14px;}

#ajaxsearchliteres .mCSB_container{
	width:auto;
	margin-right:20px;
	overflow:hidden;
}
#ajaxsearchliteres .mCSB_container.mCS_no_scrollbar{
	margin-right:0;
}
#ajaxsearchliteres .mCustomScrollBox .mCSB_scrollTools{
	width:16px;
	height:100%;
	top:0;
	right:0;
}
#ajaxsearchliteres .mCSB_scrollTools .mCSB_draggerContainer{
	height:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonUp+.mCSB_draggerContainer{
	padding-bottom:40px;
}
#ajaxsearchliteres .mCSB_scrollTools .mCSB_draggerRail{
	width:10px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
#ajaxsearchliteres .mCSB_scrollTools .mCSB_dragger{
	cursor:pointer;
	width:100%;
	height:30px;
}
#ajaxsearchliteres .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:10px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	text-align:center;
}
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonUp,
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonDown{
	height:20px;
	-overflow:hidden;
	margin:0 auto;
	cursor:pointer;
}
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonDown{
	bottom:0;
	margin-top:-40px;
}

#ajaxsearchliteres .mCSB_horizontal .mCSB_container{
	height:auto;
	margin-right:0;
	margin-bottom:30px;
	overflow:hidden;
}
#ajaxsearchliteres .mCSB_horizontal .mCSB_container.mCS_no_scrollbar{
	margin-bottom:0;
}
#ajaxsearchliteres .mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools{
	width:100%;
	height:16px;
	top:auto;
	right:auto;
	bottom:0;
	left:0;
	overflow:hidden;
}
#ajaxsearchliteres .mCSB_horizontal .mCSB_scrollTools .mCSB_draggerContainer{
	height:100%;
	width:auto;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	overflow:hidden;
}
#ajaxsearchliteres .mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft+.mCSB_draggerContainer{
	padding-bottom:0;
	padding-right:20px;
}
#ajaxsearchliteres .mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:2px;
	margin:7px 0;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
#ajaxsearchliteres .mCSB_horizontal .mCSB_scrollTools .mCSB_dragger{
	width:30px;
	height:100%;
}
#ajaxsearchliteres .mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
#ajaxsearchliteres .mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft,
#ajaxsearchliteres .mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight{
	width:20px;
	height:100%;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
	float:left;
}
#ajaxsearchliteres .mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight{
	right:0;
	bottom:auto;
	margin-left:-40px;
	margin-top:-16px;
	float:right;
}


#ajaxsearchliteres .mCustomScrollBox .mCSB_scrollTools{
	opacity:0.75;
}
#ajaxsearchliteres .mCustomScrollBox:hover .mCSB_scrollTools{
	opacity:1;
}
#ajaxsearchliteres .mCSB_scrollTools .mCSB_draggerRail{
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.4);
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
#ajaxsearchliteres .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background:#fff; /* rgba fallback */
	background:rgba(255, 255, 255,0.9);
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}
#ajaxsearchliteres .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(255, 255, 255,0.95);
	filter:"alpha(opacity=95)"; -ms-filter:"alpha(opacity=95)"; /* old ie */
}
#ajaxsearchliteres .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
#ajaxsearchliteres .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(255, 255, 255,1);
	filter:"alpha(opacity=100)"; -ms-filter:"alpha(opacity=100)"; /* old ie */
}
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonUp,
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonDown,
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonLeft,
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonRight{
	padding: 10px 0 0 0;
  background:0;
	opacity:0.4;
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}

#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonDown { height:0;position: relative; } 
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonDown:after { top: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute;} 
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonDown:after { border-color: rgba(136, 183, 213, 0); border-top-color: #0a3f4d; border-width: 8px; left: 50%; margin-left: -8px; }
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonUp { position: relative; margin:10px 0 0 0; height: 0; } 
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonUp:after { bottom: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; } 
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonUp:after { border-color: rgba(136, 183, 213, 0); border-bottom-color:  #0a3f4d; border-width: 8px; left: 50%; margin-left: -8px; }
 
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonUp{
	background-position:0 0;
	/* 
	sprites locations are 0 0/-16px 0/-32px 0/-48px 0 (light) and -80px 0/-96px 0/-112px 0/-128px 0 (dark) 
	*/
}
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonDown{
	background-position:0 -20px;
	/* 
	sprites locations are 0 -20px/-16px -20px/-32px -20px/-48px -20px (light) and -80px -20px/-96px -20px/-112px -20px/-128px -20px (dark) 
	*/
}
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonLeft{
	background-position:0 -40px;
	/* 
	sprites locations are 0 -40px/-20px -40px/-40px -40px/-60px -40px (light) and -80px -40px/-100px -40px/-120px -40px/-140px -40px (dark) 
	*/
}
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonRight{
	background-position:0 -56px;
	/* 
	sprites locations are 0 -56px/-20px -56px/-40px -56px/-60px -56px (light) and -80px -56px/-100px -56px/-120px -56px/-140px -56px (dark) 
	*/
}
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonUp:hover,
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonDown:hover,
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonLeft:hover,
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonRight:hover{
	opacity:0.75;
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonUp:active,
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonDown:active,
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonLeft:active,
#ajaxsearchliteres .mCSB_scrollTools .mCSB_buttonRight:active{
	opacity:0.9;
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}    

#ajaxsearchliteres span.highlighted{
    font-weight: bold;
    color: #d9312b;
    background-color: #eee;
    color: #d9312b;
    background-color: #eee;
}

#ajaxsearchlitesettings.searchsettings  {
  width: 200px;
  height: auto;
  background: #b4e0f4;
  position: absolute;
  display: none;
  z-index: 1101;
  border-radius: 0 0 3px 3px;
  box-shadow: 2px 2px 3px -1px #AAAAAA;
  visibility: hidden;
  padding: 0 0 8px 0;
}

#ajaxsearchlitesettings.searchsettings .option {
  margin: 10px;
  *padding-bottom: 10px;
}

#ajaxsearchlitesettings.searchsettings.ie78 .option {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

#ajaxsearchlitesettings.searchsettings .label {
  float: left;
  font-size: 14px;
  line-height: 24px;
  margin: 6px 10px 0 0;
  width: 143px;
  color: #333;
}

/* SQUARED THREE */
#ajaxsearchlitesettings.searchsettings .option input[type=checkbox] {	
  display:none;
}

#ajaxsearchlitesettings.searchsettings.ie78 .option input[type=checkbox] {	
  display:block;
}

#ajaxsearchlitesettings.searchsettings.ie78 .label {	
  float:right !important;
}

#ajaxsearchlitesettings.searchsettings .option {
	width: 20px;	
	position: relative;
  float: left;
}

#ajaxsearchlitesettings.searchsettings .option label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
  background: #45484d;
	background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222222 0%, #45484d 100%);
	background: linear-gradient(top, #222222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#45484d',GradientType=0 );
}

#ajaxsearchlitesettings.searchsettings.ie78 .option label {
  display:none;
}

#ajaxsearchlitesettings.searchsettings .option label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#ajaxsearchlitesettings.searchsettings.ie78 .option label:after {
  display:none;
}

#ajaxsearchlitesettings.searchsettings .option label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

#ajaxsearchlitesettings.searchsettings .option input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

#ajaxsearchliteres .thumb .end,
#ajaxsearchliteres .thumb { background-color: #B4E0F4; border-radius: 20px; }
#ajaxsearchliteres .scrollbar { position: relative; float: right; width: 15px; border-radius: 0px; background: #FFF;}
#ajaxsearchliteres .track { background-color: #FFF; height: 100%; width:13px; position: relative; padding: 0 1px; border-radius: 0px; }
#ajaxsearchliteres .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#ajaxsearchliteres .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#ajaxsearchliteres .disable{ display: none; }
#ajaxsearchliteres .viewport { position: relative; }
#ajaxsearchliteres .overview { left: 0; top: 0; }
