
div[id*="ajaxsearchlite"] {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    background-image: -moz-radial-gradient(center, ellipse cover, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: -webkit-radial-gradient(center, ellipse cover, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: -o-radial-gradient(center, ellipse cover, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: -ms-radial-gradient(center, ellipse cover, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: radial-gradient(ellipse at center, rgb(255, 255, 255), rgb(255, 255, 255));;
    overflow: hidden;
    border: 0px solid rgb(181, 181, 181);
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 1px 0px 0px #e4e4e4;
}

div[id*="ajaxsearchlite"] .probox {
    margin: 0px;
    height: 28px;
    background-color: rgb(255, 255, 255);
    background-image: -moz-radial-gradient(center, ellipse cover, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: -webkit-radial-gradient(center, ellipse cover, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: -o-radial-gradient(center, ellipse cover, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: -ms-radial-gradient(center, ellipse cover, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: radial-gradient(ellipse at center, rgb(255, 255, 255), rgb(255, 255, 255));;
    border: 0px none rgb(255, 255, 255);
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px rgb(181, 181, 181) inset;
}

div[id*="ajaxsearchlite"] .probox .proinput {
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(0, 0, 0) !important;
    font-size: 12px;
    line-height: 15px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*="ajaxsearchlite"] .probox .proinput input {
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(0, 0, 0) !important;
    font-size: 12px;
    line-height: 28px !important;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    border: 0;
    box-shadow: none;
}

div[id*="ajaxsearchlite"].asl_msie .probox .proinput input {
    line-height: 24px !important;
}

div[id*="ajaxsearchlite"] .probox .proinput input.autocomplete {
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(0, 0, 0);
    font-size: 12px;
    line-height: 15px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*="ajaxsearchlite"] .probox .proloading,
div[id*="ajaxsearchlite"] .probox .proclose,
div[id*="ajaxsearchlite"] .probox .promagnifier,
div[id*="ajaxsearchlite"] .probox .prosettings {
    width: 28px;
    height: 28px;
}

div[id*="ajaxsearchlite"] .probox .promagnifier .innericon svg {
    fill: rgb(54, 54, 54);
}

div[id*="ajaxsearchlite"] .probox .proloading svg {
    fill: rgb(0, 0, 0);
}

div[id*="ajaxsearchlite"] .probox .prosettings .innericon svg {
    fill: rgb(54, 54, 54);
}

div[id*="ajaxsearchlite"] .probox .promagnifier {

    width: 28px;
    height: 28px;
    background-image: -o-linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    background-image: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    background-position: center center;
    background-repeat: no-repeat;

    border: 0px solid rgb(255, 255, 255);
    border-radius: 0px 0px 0px 0px;
    box-shadow: -1px 1px 0px 0px rgba(255, 255, 255, 0.64) inset;
    cursor: pointer;
    background-size: 100% 100%;

    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

div[id*="ajaxsearchlite"] .probox div.prosettings {

    width: 28px;
    height: 28px;
    background-image: -o-linear-gradient(175deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(175deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    background-image: -webkit-linear-gradient(175deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    background-image: linear-gradient(175deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.64) inset;
    cursor: pointer;
    background-size: 100% 100%;
    order: 7;
    -webkit-order: 7;
}

div[id*="ajaxsearchliteres"] {
    position: absolute;
    z-index: 1100;
}

div[id*="ajaxsearchliteres"].vertical {
    padding: 4px;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    border: 0px solid rgb(181, 181, 181);
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 9px -7px #000000 inset;
    visibility: hidden;
    display: none;
}

div[id*="ajaxsearchliteres"] .results .nores .keyword {
    padding: 0 6px;
    cursor: pointer;
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(74, 74, 74);
    font-size: 13px;
    line-height: 13px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    font-weight: bold;
}

div[id*="ajaxsearchliteres"] .results .item {
    height: auto;
    background: rgb(255, 255, 255);
}

div[id*="ajaxsearchliteres"].vertical .results .item:after {
    background: rgb(204, 204, 204);
}

div[id*="ajaxsearchliteres"] .results .item.hovered {
    background-image: -moz-radial-gradient(center, ellipse cover, rgb(244, 244, 244), rgb(246, 246, 246));
    background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, rgb(244, 244, 244), rgb(246, 246, 246));
    background-image: -webkit-radial-gradient(center, ellipse cover, rgb(244, 244, 244), rgb(246, 246, 246));
    background-image: -o-radial-gradient(center, ellipse cover, rgb(244, 244, 244), rgb(246, 246, 246));
    background-image: -ms-radial-gradient(center, ellipse cover, rgb(244, 244, 244), rgb(246, 246, 246));
    background-image: radial-gradient(ellipse at center, rgb(244, 244, 244), rgb(246, 246, 246));;
}

div[id*="ajaxsearchliteres"] .results .item .image {
    width: 70px;
    height: 70px;
}

div[id*="ajaxsearchliteres"] .results .item .content {
    overflow: hidden;
    width: 50%;
    height: auto;
    background: transparent;
    margin: 0;
    padding: 0 10px;
}

div[id*="ajaxsearchliteres"] .results .item .content h3 {
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(20, 104, 169);
    font-size: 14px;
    line-height: 22px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*="ajaxsearchliteres"] .results .item .content h3 a {
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(20, 104, 169);
    font-size: 14px;
    line-height: 22px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*="ajaxsearchliteres"] .results .item .content h3 a:hover {
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(46, 107, 188);
    font-size: 14px;
    line-height: 20px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*="ajaxsearchliteres"] .results .item div.etc {
    padding: 0;
    line-height: 10px;
    font-weight: bold;
    font-family: Open Sans;
    color: rgb(161, 161, 161);
    font-size: 12px;
    line-height: 13px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*="ajaxsearchliteres"] .results .item .etc .author {
    padding: 0;
    font-weight: bold;
    font-family: Open Sans;
    color: rgb(161, 161, 161);
    font-size: 12px;
    line-height: 13px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*="ajaxsearchliteres"] .results .item .etc .date {
    margin: 0 0 0 10px;
    padding: 0;
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(173, 173, 173);
    font-size: 12px;
    line-height: 15px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*="ajaxsearchliteres"] .results .item p.desc {
    margin: 2px 0px;
    padding: 0;
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(74, 74, 74);
    font-size: 13px;
    line-height: 13px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*="ajaxsearchliteres"] .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #fff; /* rgba fallback */
    background: rgba(rgb(255, 255, 255), 0.9);
    filter: "alpha(opacity=90)";
    -ms-filter: "alpha(opacity=90)"; /* old ie */
}

div[id*="ajaxsearchliteres"] .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background: rgba(rgb(255, 255, 255), 0.95);
    filter: "alpha(opacity=95)";
    -ms-filter: "alpha(opacity=95)"; /* old ie */
}

div[id*="ajaxsearchliteres"] .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
div[id*="ajaxsearchliteres"] .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background: rgba(rgb(255, 255, 255), 1);
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)"; /* old ie */
}

div[id*="ajaxsearchliteres"].horizontal .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
div[id*="ajaxsearchliteres"].horizontal .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background: rgb(250, 250, 250);
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)"; /* old ie */
}

div[id*="ajaxsearchliteres"] .mCSB_scrollTools .mCSB_buttonDown:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: rgb(62, 62, 62);
    border-width: 6px;
    left: 50%;
    margin-left: -6px;
}

div[id*="ajaxsearchliteres"] .mCSB_scrollTools .mCSB_buttonUp:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: rgb(62, 62, 62);
    border-width: 6px;
    left: 50%;
    margin-left: -6px;
}

div[id*="ajaxsearchliteres"] span.highlighted {
    font-weight: bold;
    color: #d9312b;
    background-color: #eee;
    color: rgba(217, 49, 43, 1);
    background-color: rgba(238, 238, 238, 1);
}

div[id*="ajaxsearchliteres"] p.showmore {
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(5, 94, 148);
    font-size: 12px;
    line-height: 15px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*="ajaxsearchliteres"] p.showmore a {
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(5, 94, 148);
    font-size: 12px;
    line-height: 15px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

/* Search settings */

div[id*="ajaxsearchlitesettings"].searchsettings {
    background: background-image: linear-gradient(185deg, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: -webkit-linear-gradient(185deg, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: -moz-linear-gradient(185deg, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: -o-linear-gradient(185deg, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: -ms-linear-gradient(185deg, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: linear-gradient(185deg, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: -webkit-linear-gradient(185deg, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: -moz-linear-gradient(185deg, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: -o-linear-gradient(185deg, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: -ms-linear-gradient(185deg, rgb(255, 255, 255), rgb(255, 255, 255));;
    box-shadow: 0px 0px 0px 1px rgb(181, 181, 181) inset;;
}

div[id*="ajaxsearchlitesettings"].searchsettings .label {
    font-weight: bold;
    font-family: Open Sans;
    color: rgb(43, 43, 43);
    font-size: 12px;
    line-height: 15px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*="ajaxsearchlitesettings"].searchsettings .option label {
    background-image: linear-gradient(180deg, rgb(34, 34, 34), rgb(69, 72, 77));
    background-image: -webkit-linear-gradient(180deg, rgb(34, 34, 34), rgb(69, 72, 77));
    background-image: -moz-linear-gradient(180deg, rgb(34, 34, 34), rgb(69, 72, 77));
    background-image: -o-linear-gradient(180deg, rgb(34, 34, 34), rgb(69, 72, 77));
    background-image: -ms-linear-gradient(180deg, rgb(34, 34, 34), rgb(69, 72, 77));;
}

div[id*="ajaxsearchlitesettings"].searchsettings .option label:after {
    border: 3px solid rgb(255, 255, 255);
    border-right: none;
    border-top: none;
}

div[id*="ajaxsearchlitesettings"].searchsettings fieldset .categoryfilter {
    max-height: 200px;
    overflow: auto;
}

div[id*="ajaxsearchlitesettings"].searchsettings fieldset legend {
    padding: 5px 0 0 10px;
    margin: 0;
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(71, 71, 71);
    font-size: 13px;
    line-height: 15px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}